* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  color: white;
  background-color: #030303;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 100;
  padding: 0;
  margin: 0;
}

label {
  font-weight: 100;
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0 0 2rem 0;
  margin: 0;
  font-weight: 100;
  font-size: 1.6rem;
}

body {
  padding: 6rem;
  height: 100vh;
}

#switch {
  padding: 0 0 0.4rem 0;
  font-size: 1rem;
  font-weight: 100;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#control-panel {
  border: solid 1px rgb(176, 176, 176);
  flex: 1;
  padding: 1rem 0rem;
}

#control-inner-wrap {
  display: flex;
  height: 100%;
}

#divide-line {
  flex: 0;
  border-left: solid 1px rgb(176, 176, 176);
}

.inner-panel {
  flex: 1;
  padding: 0rem 1rem;
}

.slider {
  -webkit-appearance: none;
  width: 20rem;
  max-width: 80%;
  height: 1px;
  background-color: rgb(212, 212, 212);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* transform: translateY(-20px); */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid 1px rgb(212, 212, 212);
  background-color: #0b0b0b;
  cursor: pointer;
}

.slider-container {
  padding: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
